APP_NAME=sorter-app
API_URL=http://3.94.6.120:8000/api
API_URL_DEV=http://3.94.6.120:8000/api
API_URL_PROD=http://3.94.6.120:8000/api
API_URL_DOWN=http://3.94.6.120:8000/api
SESSION_SECRET=your-session-secret