@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 350 33% 99%;
    --foreground: 350 54% 1%;
    --muted: 350 23% 90%;
    --muted-foreground: 350 15% 33%;
    --popover: 350 33% 98%;
    --popover-foreground: 0 0% 0%;
    --card: 350 33% 98%;
    --card-foreground: 0 0% 0%;
    --border: 350 15% 90%;
    --input: 350 15% 90%;
    --primary: 350 66% 47%;
    --primary-foreground: 0 0% 100%;
    --secondary: 350 18% 86%;
    --secondary-foreground: 350 18% 26%;
    --accent: 350 23% 78%;
    --accent-foreground: 350 23% 18%;
    --destructive: 13 97% 21%;
    --destructive-foreground: 13 97% 81%;
    --ring: 350 66% 47%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 350 40% 4%;
    --foreground: 350 23% 99%;
    --muted: 350 23% 10%;
    --muted-foreground: 350 15% 67%;
    --popover: 350 40% 5%;
    --popover-foreground: 0 0% 100%;
    --card: 350 40% 5%;
    --card-foreground: 0 0% 100%;
    --border: 350 15% 13%;
    --input: 350 15% 13%;
    --primary: 350 66% 47%;
    --primary-foreground: 0 0% 100%;
    --secondary: 350 20% 8%;
    --secondary-foreground: 350 20% 68%;
    --accent: 350 25% 18%;
    --accent-foreground: 350 25% 78%;
    --destructive: 13 97% 53%;
    --destructive-foreground: 0 0% 100%;
    --ring: 350 66% 47%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
